@model IdentityProviderRestriction
@using MySql.AspNet.Identity;
@{
    ViewData["Title"] = "Редактирование ограничения провайдера";
}

<h4><a href="/IdentityProviderRestriction/List">Список ограничений провайдера</a></h4>
<hr />
<h3 class="page-header">@ViewData["Title"]</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Основная информация
        </h3>
    </div>

    <form asp-controller="IdentityProviderRestriction" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="Id" type="hidden" class="form-control" />
            <label asp-for="Name" class="col-md-2 control-label">Название</label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" value="@Model.Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success">Сохранить&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
            <a href="/IdentityProviderRestriction/List/" class="btn btn-default" style="float:right">Отмена&nbsp;<span class="glyphicon glyphicon-ban-circle"></span></a>
        </div>
    </form>
</div>