@model ObjectViewModel

<div id="objectMainInfo" class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <a href="/Object/_EditPartial/?objectId=@Model.Id" class="glyphicon glyphicon-edit" style="float:right;"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#objectMainInfo"></a>
            <a href="#objectMainInfo_collapse" data-toggle="collapse"><span class="glyphicon glyphicon-plus" style="float:left;"></span>&nbsp;Основная информация</a>
        </div>
    </div>
    <div id="objectMainInfo_collapse" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.Name
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.Description
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        @Model.Url
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>