@model ObjectViewModel
@using MySql.AspNet.Identity;
@{
    ViewData["Title"] = "Детальная информация объекта";
    List<ObjectEndpoint> objectEndpointsView = ViewBag.objectEndpointsView;
}

<h4>
    <a href="/Object/List">Список объектов</a>
</h4>
<hr />
<h3 class="page-header">
    @ViewData["Title"]
</h3>

@if (string.IsNullOrEmpty(Model.ClientId))
{
    <a href="/Client/Add/?objectId=@Model.Id" class="btn btn-warning">Добавить клиента</a>
}
else
{
    <a href="/Client/Details/?clientId=@Model.ClientId">Клиент объекта</a>
}
<br />
<br />

@Html.Partial("_DetailsPartial", Model)
@Html.Partial("_ObjectEndpointsListPartial", objectEndpointsView)


@section Scripts{
    <link href="~/css/tree.css" rel="stylesheet" />
    <script src="~/project/project_view_scripts.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script>
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/project/object_endpoint_by_id_scripts.js"></script>
}