<a href="/Role/List/">Роли</a><br>
<a href="/Role/Add/">Добавить роль</a><br>
<a href="/Permission/List/">Разрешения</a><br>
<a href="/Permission/Add/">Добавить разрешение</a><br>
<a href="/Object/List/">Объекты</a><br>
<a href="/Object/Add/">Добавить объект</a><br>
<a href="/User/UserList/">Пользователи</a><br>
<a href="/User/UserAdd/">Добавить пользователя</a><br>
<a href="/Group/GroupList">Список групп</a><br><br>
<a href="/Client/Index">Список клиентов</a>

<a href="/Claim/List">Claim</a><br>
<a href="/AllowedCorsOrigins/List">allowed_cors_origins</a><br>
<a href="/AllowedGrantTypes/List">allowed_grant_types</a><br>
<a href="/ApiResourceCustomClaim/List">api_resource_claims</a><br>
<a href="/ApiResourceCustomScope/List">api_resource_scopes</a><br>
<a href="/ApiResourceCustomSecret/List">api_resource_secret</a><br>
<a href="/ApiResource/List">api_resources</a><br>
<a href="/IdentityProviderRestriction/List">identity_provider_restrictions</a><br>
<a href="/IdentityResource/List">identity_resources</a><br>
<a href="/IdentityResourceClaim/List">identity_resource_claims</a><br>

