@model List<ClaimCustom>
@using MySql.AspNet.Identity;
@{
    ViewData["Title"] = "Список требований";
}

<h3 class="page-header">@ViewData["Title"].</h3>

<a href="/Claim/Add/" class="btn btn-default" role="button">Добавить требование</a>

<table id="claim_data_table"
       data-url="/Claim/Data"
       data-toggle="table"
       data-show-refresh="true"
       data-show-toggle="true"
       data-method="get"
       data-height="500"
       data-detail-view="false"
       data-show-columns="true"
       data-pagination="true"
       data-side-pagination="client"
       data-page-size="10"
       data-page-list="[5, 10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="type" data-align="center" data-visible="true" data-sortable="true">
                Тип
            </th>
            <th data-field="actions" data-align="center" data-visible="true" data-sortable="false"
                data-formatter="claimFormatter" data-events="claimEvents">
                Действия
            </th>
        </tr>
    </thead>
</table>

@section Scripts{
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script>

    <script src="~/project/claims_scripts.js"></script>
}