@model ClientSecretInputModel

@{
    List<SecretViewModel> secrets = ViewBag.Secrets;
    IReadOnlyDictionary<string, string> SecretTypes = ViewBag.SecretTypes;
}

<form asp-controller="Client" asp-action="_AddSecretsPartial" method="post" class="form-inline">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ClientId" />
    <input type="hidden" asp-for="SecretId" />
    <input class="form-control" asp-for="Value" style="width:50%" />

    <select class="form-control" asp-for="Type">
        @foreach (KeyValuePair<string, string> secretType in SecretTypes)
        {
            <option value="@secretType.Key">@secretType.Value</option>
        }
    </select>

    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
    <span asp-validation-for="SecretId" class="text-danger"></span>
</form>