@model ClientAllowedCorsOriginInputModel

@{
    List<AllowedCorsOriginViewModel> cors = ViewBag.CorsOrigins;
}

<form asp-controller="Client" asp-action="_AddCorOriginPartial" method="post" class="form-inline">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ClientId" />
    <input type="hidden" asp-for="AllowedCorsOriginId" />
    <input class="form-control" asp-for="Name" style="width:50%" />
    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
    <span asp-validation-for="AllowedCorsOriginId" class="text-danger"></span>
</form>