@model ClientRedirectUriInputModel

@{
    List<RedirectUriViewModel> redirects = ViewBag.RedirectUris;
}

<form asp-controller="Client" asp-action="_AddRedirectUriPartial" method="post" class="form-inline">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ClientId" />
    <input type="hidden" asp-for="RedirectUriId" />
    <input class="form-control" asp-for="Name" style="width:50%" />
    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
    <span asp-validation-for="RedirectUriId" class="text-danger"></span>
</form>