@model IEnumerable<IdentityProviderRestrictionViewModel>

@{
    string clientId = ViewBag.ClientId;
}

<div class="panel panel-default" id="clientRestrictions">
    <div class="panel-heading">
        <div class="panel-title">
            <a href="#clientRestrictions_collapse" data-toggle="collapse"><span class="glyphicon glyphicon-plus" style="float:left;"></span>&nbsp;Ограничения</a>
        </div>
    </div>
    <div id="clientRestrictions_collapse" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th style="text-align:center;">Ограничение</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (IdentityProviderRestrictionViewModel restriction in Model)
                        {
                            <tr>
                                <td align="center">@restriction.Name</td>
                                <td align="center">
                                    <a href="/Client/DeleteClientIdentityProviderRestriction/?clientId=@clientId&identityProviderRestrictionId=@restriction.Id" class="glyphicon glyphicon-remove" title="Удалить у клиента"></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" align="center">Нет записей</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a href="/Client/_AddClientIdentityProviderRestrictionPartial/?clientId=@clientId" class="btn btn-default" id="restriction"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#restriction">
                Добавить&nbsp;<span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</div>

