@model IEnumerable<SecretViewModel>

@{
    List<SecretViewModel> secrets = ViewBag.Secrets;
    string clientId = ViewBag.ClientId;
}

<div class="panel panel-default" id="secrets">
    <div class="panel-heading">
        <div class="panel-title">
            <a href="#secrets_collapse" data-toggle="collapse"><span class="glyphicon glyphicon-plus" style="float:left;"></span>&nbsp;Секретные ключи</a>
        </div>
    </div>
    <div id="secrets_collapse" class="panel-collapse collapse">
        <div class="panel-body">
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th style="text-align:center;">Секретные ключи</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        foreach (SecretViewModel secret in Model)
                        {
                            <tr>
                                <td align="center" style="word-break:break-word;">
                                    @secret.Value
                                </td>
                                <td align="center">
                                    <a href="/Client/DeleteSecrets/?clientId=@clientId&secretId=@secret.Id" class="glyphicon glyphicon-remove" title="Удалить у клиента"></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" align="center">Нет записей</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a href="/Client/_AddSecretsPartial/?clientId=@clientId" class="btn btn-default" id="secret"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#secret">
                Добавить&nbsp;<span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</div>

