@model List<ClientCustom>
@using MySql.AspNet.Identity;
@{
    ViewData["Title"] = "Взаимодействие с другими клиентами";
    string clientId = ViewBag.clientId;
}

<h4>
    <a href="/Client/Details/?clientId=@clientId">Детальная информация</a>
</h4>
<hr />
<h3 class="page-header">@ViewData["Title"].</h3>

<div class="panel panel-default" id="resourceClientRelation">
    <div class="panel-heading">
        <div class="panel-title">
            <a href="#resourceClientRelation_collapse" data-toggle="collapse"><span class="glyphicon glyphicon-plus" style="float:left;"></span>&nbsp;Список клиентов</a>
        </div>
    </div>
    <div id="resourceClientRelation_collapse" class="panel-collapse collapse">
        <div class="panel-body">
            
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th style="text-align:center;">Название</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (ClientCustom claim in Model)
                        {
                            <tr>
                                <td align="center">@claim.ClientName</td>
                                <td align="center">
                                    <a href="/Client/DeleteClientRelation/?fromClientId=@claim.ClientId&toClientId=@claim.Id" class="glyphicon glyphicon-remove" title="Удалить"></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" align="center">Нет записей</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="panel-footer">
            <a href="/Client/_AddClientRelationPartial?clientId=@clientId" class="btn btn-default" id="clientRelationAddBtn"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#clientRelationAddBtn">
                Добавить&nbsp;<span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</div>

@section Scripts{
    
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script>
<script src="~/project/project_view_scripts.js"></script>
    <script src="~/project/client_relation_scripts.js"></script>

}
