@model UserRoleInputModel

@{
    List<RoleViewModel> roles = ViewBag.Roles;
}

<form asp-controller="User" asp-action="_AddRolePartial" method="post" class="form-inline">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <select class="form-control" asp-for="RoleId">
        <option></option>
        @foreach (RoleViewModel role in roles)
        {
            <option value="@role.Name">@role.Name</option>
        }
    </select>
    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
    <span asp-validation-for="RoleId" class="text-danger"></span>
</form>