@model GroupUserInputModel

@{
    List<GroupViewModel> groups = ViewBag.Groups;
}

<form asp-method="User" asp-action="_AddGroupPartial" method="post" class="form-inline">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="UserId" />
    <select class="form-control" asp-for="GroupId">
        <option></option>
        @foreach (GroupViewModel group in groups)
        {
            <option value="@group.Id">@group.Name</option>
        }
    </select>
    <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
    <span asp-validation-for="GroupId" class="text-danger"></span>
</form>