@{ 
    string userId = ViewBag.UserId;
}
<div id="clientListModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Выбор клиента</h4>
            </div>
            <div class="modal-body">
                <div id="clientListToolbar">
                    <div class="col-md-5">
                        <label for="date">Дата действия</label>
                    </div>
                    <div class="col-md-7">
                        <input class="form-control text-box single-line" data-val="true" data-val-date="Поле Дата выдачи должно содержать дату."
                               id="date" name="date" type="datetime-local" min="@DateTime.Now.AddMinutes(1).ToString("yyyy-MM-ddThh:mm")" value="@DateTime.Now.AddMinutes(1).ToString("yyyy-MM-ddThh:mm")">
                        <span id="ExperienceTimeSpan" class="text-danger"></span>
                    </div>
                </div>
                <table id="clientList_data_table"
                       data-url="/User/ClientListData/?userId=@userId"
                       data-toggle="table"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-method="get"
                       data-show-columns="true"
                       data-pagination="true"
                       data-height="400"
                       data-toolbar="#clientListToolbar"
                       data-side-pagination="client"
                       data-page-size="10"
                       data-click-to-select="true"
                       data-page-list="[5, 10, 20, 50, 100, 200]"
                       data-search="true">
                    <thead>
                        <tr>
                            <th data-field="check" data-align="center" data-visible="true" data-radio="true"></th>
                            <th data-field="clientId" data-align="center" data-visible="true" data-sortable="true">
                                Идентификатор клиента
                            </th>
                            <th data-field="protocolType" data-align="center" data-visible="true" data-sortable="true">
                                Тип протокола
                            </th>
                            <th data-field="clientName" data-align="center" data-visible="true" data-sortable="true">
                                Название клиента
                            </th>
                            <th data-field="clientUri" data-align="center" data-visible="true" data-sortable="true">
                                Ссылка
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">Добавить ключ API&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена&nbsp;<span class="glyphicon glyphicon-ban-circle"></span></button>
            </div>
        </div>
    </div>
</div>