@model IEnumerable<string>
@{
    string userId = ViewBag.UserId;
}

<div class="panel panel-default" id="resourceClaims">
    <div class="panel-heading">
        <div class="panel-title">
            <a href="#resourceClaims_collapse" data-toggle="collapse"><span class="glyphicon glyphicon-plus" style="float:left;"></span>&nbsp;Роли</a>
        </div>
    </div>
    <div id="resourceClaims_collapse" class="panel-collapse collapse">
        <div class="panel-body">
            <a href="/Role/Details/?roleId=" style="display:none;"></a>
            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th style="text-align:center;">Состоит в ролях</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        @foreach (string role in Model)
                        {

                            <tr>
                                <td align="center">@role</td>
                                <td align="center">
                                    <a href="/User/DeleteRole/?userId=@userId&roleId=@role" class="glyphicon glyphicon-remove" title="Удалить у клиента"></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" align="center">Нет записей</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a href="/User/_AddRolePartial/?userId=@userId" class="btn btn-default" id="claimAddBtn"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#claimAddBtn">
                Добавить&nbsp;<span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</div>