@model RegisterViewModel

@{
    ViewData["Title"] = "Добавление пользователя";
}

<h4>
    <a href="/User/List">Список пользователей</a>
</h4>
<hr />

<h3 class="page-header">
    @ViewData["Title"]
</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Основная информация
        </h3>
    </div>
    <form asp-controller="User" asp-action="Add" method="post">
        <div class="panel-body">
            <div class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                    <div class="col-md-4">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success">Добавить&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
            <a href="/User/List" class="btn btn-default" style="float:right">
                Отмена&nbsp;<span class="glyphicon glyphicon-ban-circle"></span>
            </a>
        </div>
    </form>
</div>