@model List<UserViewModel>

<a href="/User/Add" class="btn btn-default">
    Добавить пользователя
</a>
<div id="userList_toolbar">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#userMergeModal">Объединить</button>
</div>
<table id="usersList_data_table"
       data-url="/User/UsersData"
       data-toggle="table"
       data-show-refresh="true"
       data-show-toggle="true"
       data-method="get"
       data-height="500"
       data-detail-view="true"
       data-toolbar="#userList_toolbar"
       data-checkbox-header="false"
       data-response-handler="userList_response"
       data-show-columns="true"
       data-pagination="true"
       data-side-pagination="server"
       data-page-size="10"
       data-page-list="[5, 10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="state" data-checkbox="true" data-align="center" data-visible="true">
            </th>
            <th data-field="email" data-align="center" data-visible="true" data-sortable="true">
                Email
            </th>
            <th data-field="userName" data-align="center" data-visible="true" data-sortable="true">
                Имя пользователя
            </th>
            <th data-field="phoneNumber" data-align="center" data-visible="true" data-sortable="true">
                Телефон
            </th>
            <th data-field="activated" data-align="center" data-visible="true" data-sortable="false" data-formatter="userListActivatedFormatter" data-events="usersListOperateEvents">
                Активирован
            </th>
            <th data-field="actions" data-formatter="usersListActionFormatter" data-events="usersListOperateEvents" data-align="center" data-visible="true" data-sortable="false">
                Действия
            </th>
        </tr>
    </thead>
</table>

@Html.Partial("_UserSelectModal")

@section Scripts{
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script>
    <script src="~/project/user_scripts.js"></script>
}
