@model GroupViewModel

@{
    ViewDataDictionary groupDictionary = new ViewDataDictionary(this.ViewData) { { "GroupId", Model.Id } };
    string id = Guid.NewGuid().ToString();
}

<ul id="@Model.Id" class="p-has-headers">
    <li>
        <h4 class="header">
            <a data-toggle="collapse" data-parent="#accordion" href="#groupList_collapse_@id">
                <span class="glyphicon glyphicon-plus"></span>
                Группы
            </a>
        </h4>
        <div id="groupList_collapse_@id" class="collapse">
            <ul class="p-has-headers">
                @foreach (GroupViewModel group in Model.ChildrenGroups)
                {
                    <li name="groupsDetails">
                        @Html.Partial("_DetailsPartial", group)
                    </li>
                }
                <li>
                    <h4 class="header">
                        <a name="addBtns" href="/Group/_AddPartial/?parentId=@Model.Id" class="btn btn-default btn-sm">
                            Добавить группу
                        </a>
                    </h4>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <h4 class="header">
            <a data-toggle="collapse" data-parent="#accordion" href="#roleList_collapse_@id">
                <span class="glyphicon glyphicon-plus"></span>
                Роли
            </a>
        </h4>
        <div id="roleList_collapse_@id" class="collapse">
            <div class="row">
                <div class="col-md-7 col-md-offset-1">
                    @Html.Partial("_RoleListPartial", groupDictionary)
                </div>
            </div>
        </div>
    </li>
    <li>
        <h4 class="header">
            <a data-toggle="collapse" data-parent="#accordion" href="#userList_collapse_@id">
                <span class="glyphicon glyphicon-plus"></span>
                Пользователи
            </a>
        </h4>
        <div id="userList_collapse_@id" class="collapse">
            <div class="row">
                <div class="col-md-7 col-md-offset-1">
                    @Html.Partial("_UserListPartial", groupDictionary)
                </div>
            </div>
        </div>
    </li>
</ul>