@model GroupInputModel


<form asp-controller="Group" asp-action="_EditPartial" class="form-inline" id="groupEdit_@Model.Id"
      data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace-with" data-ajax-update="#groupEdit_@Model.Id">
    <h4 class="header">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" aps-for="ParentId" />
        <input asp-for="Name" class="form-control" />
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
        <a class="btn btn-default" href="/Group/_DetailsPartial/?groupId=@Model.Id&groupParentId=@Model.ParentId" 
           data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#groupEdit_@Model.Id">
            <span class="glyphicon glyphicon-ban-circle"></span>
        </a>
        <span asp-validation-for="Name" class="text-danger"></span>
    </h4>
</form>

