@model GroupRoleViewModel

<h4 class="header" name="groupRoleDetails">
    <a href="/Role/Details/?roleId=@Model.Id">@Model.Name</a>&nbsp;
    <a href="/Group/RoleDelete/?roleId=@Model.Id&groupId=@Model.GroupId" title="Удалить роль из группы" class="glyphicon glyphicon-remove"></a>
</h4>
