@model GroupRoleInputModel

@{
    List<RoleViewModel> roles = ViewBag.Roles;
}
<form asp-controller="Group" asp-action="_RoleAddPartial" class="form-inline" id="GroupRoleAdd_@Model.GroupId" name="addForms"
      data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace-with" data-ajax-update="#GroupRoleAdd_@Model.GroupId">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h3 class="header">
        <input type="hidden" asp-for="GroupId" />
        <select class="form-control" asp-for="RoleId">
            <option value="">Не выбрана</option>
            @foreach (RoleViewModel role in roles)
            {
                <option value="@role.Id">@role.Name</option>
            }
        </select>
        <span asp-validation-for="RoleId" class="text-danger"></span>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle"></span></button>
    </h3>
</form>