@{ 
    string groupId = ViewBag.GroupId;
}

<div id="userList_toolbar_@groupId">
    <button type="button" class="btn btn-default" name="UserSelectBtns" value="@groupId">Добавить пользователей</button>
</div>
<table id="groupUserList_@groupId"
       data-url="/User/UsersData/?groupId=@groupId&inGroup=true"
       data-toggle="table"
       data-show-refresh="true"
       data-show-toggle="true"
       data-method="get"
       data-detail-view="false"
       data-toolbar="#userList_toolbar_@groupId"
       data-show-columns="true"
       data-pagination="true"
       data-side-pagination="server"
       data-page-size="10"
       data-page-list="[5, 10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="email" data-align="center" data-visible="true" data-sortable="true">
                Email
            </th>
            <th data-field="userName" data-align="center" data-visible="true" data-sortable="true">
                UserName
            </th>
            <th data-field="actions" data-formatter="usersListActionFormatter" data-events="groupUserListOperateEvents" data-align="center" data-visible="true" data-sortable="false">
                Действия
            </th>
        </tr>
    </thead>
</table>
