@{
    ViewData["Title"] = "Аккаунт успешно подтвержден";
    string returnUrl = ViewBag.returnUrl;
}
<h2>@ViewData["Title"].</h2>
<div class="alert alert-success">
    <p>
        Аккаунт успешно подтвержден.
    </p>
</div>
