@{
    ViewData["Title"] = "Подтверждение аккаунта";
}

<h2>@ViewData["Title"].</h2>
<div class="alert alert-success">
    <p>
        На указанный e-mail выслано письмо с подтверждением учетной записи. Пожалуйста, проверте вашу почту и следуйте инструкциям письма.
    </p>
</div>
