@{
    ViewData["Title"] = "Восстановление пароля";
}

<h3>@ViewData["Title"].</h3>
<p class="alert alert-info">
    На указанный e-mail выслано письмо с восстановлением пароля. Пожалуйста, проверте вашу почту и следуйте иснтрукциям письма
</p>
