@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Восстановление пароля";
}
<div class="col-md-6 col-md-offset-2">
    <h3 class="page-header">@ViewData["Title"]</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Введите E-mail профиля</h3>
        </div>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
            <div class="panel-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-success">Отправить&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
                <a role="button" class="btn btn-default" style="float:right;" asp-controller="Account" asp-action="Login">Отмена&nbsp;<span class="glyphicon glyphicon-ban-circle"></span></a>
            </div>
        </form>
    </div>
</div>