@model LoginViewModel

<div class="login-page">
    <div class="page-header">
        <h1>Войти</h1>
    </div>

    @Html.Partial("_ValidationSummary")

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Локальный вход</h3>
                    </div>
                    <div class="panel-body">

                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="UserName"></label>
                                    <input class="form-control" placeholder="UserName" asp-for="UserName" autofocus>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <div id="recaptcha" data-sitekey="6LfUZC8UAAAAAGvvJzJvj_Oh7-PdNw20_F5mIPUV"></div>
                                    <span class="text-danger" id="recaptchaErrorMessage"></span>
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember">
                                        <label asp-for="RememberLogin">
                                            <input asp-for="RememberLogin">
                                            <strong>Запомнить меня</strong>
                                        </label>
                                    </div>
                                }
                                <div class="form-group">
                                    <button class="btn btn-primary">Войти</button>
                                    <a class="btn btn-primary" href="/Account/Register?returnUrl=%2Fgrants">
                                        Регистрация
                                    </a>
                                    <p>
                                        <a asp-action="ForgotPassword">Забыли пароль?</a>
                                    </p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-6 col-sm-6 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Внешний вход</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                       asp-action="ExternalLogin"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
    <script type="text/javascript">
        $('input').blur(function () {
            var empty_counter = 0;
            $('input[type!="hidden"]').each(function (index, element) { 
                if (!$(element).val()) {
                    empty_counter++;
                }
            });
            if (empty_counter == 0) {
                var recaptcha = $("#recaptcha");
                if (!recaptcha.hasClass('.g-recaptcha')) {
                    recaptcha.addClass('.g-recaptcha');
                    var key = recaptcha.attr('data-sitekey')
                    grecaptcha.render(
                        'recaptcha',
                        {
                            'sitekey': key
                        }
                    )
                }
            }
        });
    </script>

}