@{
    ViewData["Title"] = "Пароль успешно восстановлен";
}

<h3 class="page-header">@ViewData["Title"].</h3>
<div class="alert alert-success">
    <p>
        Ваш пароль был восстановлени. Пожалуйста <a asp-controller="Account" asp-action="Login">кликните здесь для авторизации</a>.
    </p>
</div>
