@model VerifyCodeViewModel
@{
    ViewData["Title"] = "Подтверждение";
}
<h3 class="page-header">@ViewData["Title"].</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Введите код подтверждения</h3>
    </div>
    <form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div class="panel-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="UserId" type="hidden" />
            <input asp-for="UserName" type="hidden" />
            <input asp-for="ExternalProvider" type="hidden" />
            <input asp-for="IdToken" type="hidden" />
            <input asp-for="ExternalUserId" type="hidden" />
            <input asp-for="Provider" type="hidden" />
            <input asp-for="RememberMe" type="hidden" />
            <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />
            <input asp-for="SessionId" type="hidden" />
            <h4>@ViewData["Status"]</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Code" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        <input asp-for="RememberBrowser" />
                        <label asp-for="RememberBrowser"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success">Отправить</button>
        </div>
    </form>
</div>
