@model List<AllowedGrantType>
@using MySql.AspNet.Identity;
@{
    ViewData["Title"] = "Список способов взаимодействия с IdentityServer";
}

<h3 class="page-header">@ViewData["Title"].</h3>

<a href="/AllowedGrantTypes/Add/" class="btn btn-default" role="button">Добавить способ взаимодействия</a>

<table id="allowedGrantType_data_table"
       data-url="/AllowedGrantTypes/Data"
       data-toggle="table"
       data-show-refresh="true"
       data-show-toggle="true"
       data-method="get"
       data-height="500"
       data-detail-view="false"
       data-show-columns="true"
       data-pagination="true"
       data-side-pagination="client"
       data-page-size="10"
       data-page-list="[5, 10, 20, 50, 100, 200]"
       data-search="true">
    <thead>
        <tr>
            <th data-field="name" data-align="center" data-visible="true" data-sortable="true">
                Название
            </th>
            <th data-field="actions" data-align="center" data-visible="true" data-sortable="false"
                data-formatter="allowedGrantTypeFormatter" data-events="allowedGrantTypeEvents">
                Действия
            </th>
        </tr>
    </thead>
</table>

@section Scripts{
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script>
    <script src="~/project/allowed_grant_types_scripts.js"></script>
}