@model UserEditModel

<form asp-controller="Manage" asp-action="_UserNameEditPartial" data-ajax="true" data-ajax-method="POST"
      data-ajax-mode="replace-with" data-ajax-update="#userLoginContent" class="form-inline">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <input asp-for="UserName" class="form-control" />
    <span asp-validation-for="UserName" class="text-danger"></span>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
    <a href="/Manage/_DetailsPartial/?userId=@Model.Id" class="btn btn-default"
       data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#userLoginContent">
        <span class="glyphicon glyphicon-ban-circle"></span>
    </a>
</form>