@model List<PermissionViewModel>
@using MySql.AspNet.Identity;
@{
    ViewData["Title"] = "Выбор разрешений для роли";
    string roleId = ViewBag.RoleId;
    string rolePermissionData = ViewBag.RolePermissionData;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <a href="#rolePermissions_collapse" data-toggle="collapse"><span class="glyphicon glyphicon-plus" style="float:left;"></span>&nbsp;Разрешения</a>
        </div>
    </div>
    <div id="rolePermissions_collapse" class="panel-collapse collapse">
            <input type="hidden" name="RoleId" value="@ViewData["roleId"]" />
            <div class="panel-body">
                <input type="hidden" id="TableData" value="@rolePermissionData" />
                <table id="role_permission_data_table"
                       data-url=""
                       data-toggle="table"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-method="get"
                       data-height="500"
                       data-detail-view="true"
                       data-show-columns="true"
                       data-pagination="true"
                       data-side-pagination="client"
                       data-page-size="10"
                       data-page-list="[5, 10, 20, 50, 100, 200]"
                       data-search="true">
                    <thead>
                        <tr>
                            <th data-field="name" data-align="center" data-visible="true" data-sortable="true">
                                Название
                            </th>
                            <th data-field="description" data-align="center" data-visible="true" data-sortable="true">
                                Описание
                            </th>
                            <th data-field="roleId" data-align="center" data-visible="false" data-sortable="false">
                                RoleId
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
    </div>
</div>
