@model IEnumerable<UserViewModel>

@{
    List<UserViewModel> users = ViewBag.Users;
    string roleId = ViewBag.RoleId;
    string roleUserData = ViewBag.RoleUserData;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <a href="#resourceUsers_collapse" data-toggle="collapse"><span class="glyphicon glyphicon-plus" style="float:left;"></span>&nbsp;Пользователи</a>
        </div>
    </div>
    <div id="resourceUsers_collapse" class="panel-collapse collapse">
        <div class="panel-body">
            <input type="hidden" id="TableData" value="@roleUserData" />
            <input type="hidden" id="roleId" value="@roleId" />
            <table id="roleUser_data_table"
                   data-url=""
                   data-toggle="table"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-method="get"
                   data-detail-view="false"
                   data-show-columns="true"
                   data-pagination="true"
                   data-side-pagination="server"
                   data-page-size="10"
                   data-page-list="[5, 10, 20, 50, 100, 200]"
                   data-search="true">
                <thead>
                    <tr>
                        <th data-field="email" data-align="center" data-visible="true" data-sortable="true">
                            Email
                        </th>
                        <th data-field="userName" data-align="center" data-visible="true" data-sortable="true">
                            Имя пользователя
                        </th>
                        <th data-field="actions" data-formatter="userFormatter" data-events="userEvents" data-align="center" data-visible="true" data-sortable="false">
                            Действия
                        </th>
                    </tr>
                </thead>
            </table>
         </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default" name="UserSelectBtns" value="@roleId">Добавить пользователей&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
        </div>
    </div>
</div>