@model ProfileAttributesInputModel
@using MySql.AspNet.Identity;
@{
    ViewData["Title"] = "Добавить атрибут профиля";
    List<ClaimCustom> claims = ViewBag.Claims;
}

<h4><a href="/ProfileAttribute/List">Список атрибутов профиля</a></h4>
<hr />
<h3 class="page-header">@ViewData["Title"]</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Основная информация
        </h3>
    </div>
    <form asp-controller="ProfileAttribute" asp-action="Add" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div class="panel-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RequiredRegister" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="RequiredRegister" />
                    <span asp-validation-for="RequiredRegister" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RequiredAdditional" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="RequiredAdditional" />
                    <span asp-validation-for="RequiredAdditional" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Disabled" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Disabled" />
                    <span asp-validation-for="Disabled" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Deleted" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Deleted" />
                    <span asp-validation-for="Deleted" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ClaimId" class="col-md-2 control-label">Требование</label>
                <div class="col-md-4">
                    <select class="form-control" asp-for="ClaimId">
                        @foreach (ClaimCustom claimCustom in claims)
                        {
                            <option value="@claimCustom.Id">@claimCustom.Type</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-success">Добавить&nbsp;<span class="glyphicon glyphicon-ok"></span></button>
            <a href="/ProfileAttribute/List/" class="btn btn-default" style="float:right">Отмена&nbsp;<span class="glyphicon glyphicon-ban-circle"></span></a>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/project/profile_attribute_scripts.js"></script>
}