@model IEnumerable<ClaimViewModel>

@{
    List<ClaimViewModel> claims = ViewBag.Claims;
    string identityResourceId = ViewBag.IdentityResourceId;
}

<div class="panel panel-default" id="resourceClaims">
    <div class="panel-heading">
        <div class="panel-title">
            <a href="#resourceClaims_collapse" data-toggle="collapse"><span class="glyphicon glyphicon-plus" style="float:left;"></span>&nbsp;Требования</a>
        </div>
    </div>
    <div id="resourceClaims_collapse" class="panel-collapse collapse">
        <div class="panel-body">

            <table class="table table-bordered table-hover table-responsive">
                <thead>
                    <tr>
                        <th style="text-align:center;">Название требования</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0)
                    {
                        @foreach (ClaimViewModel claim in Model)
                        {
                            <tr>
                                <td align="center">@claim.Type</td>
                                <td align="center">
                                    <a href="/IdentityResource/DeleteClaim/?claimId=@claim.Id&identityResourceId=@identityResourceId" class="glyphicon glyphicon-remove" title="Удалить у клиента"></a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" align="center">Нет записей</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <a href="/IdentityResource/_AddClaimPartial/?identityResourceId=@identityResourceId" class="btn btn-default" id="claimAddBtn"
               data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace-with" data-ajax-update="#claimAddBtn">
                Добавить&nbsp;<span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
</div>